.input-container {
  margin-top: 20px;
  position: relative;
  input {
    width: 50%;
    margin-right: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    outline: none;
    padding: 12px 12px 12px 48px;
    font-size: 2rem;
    color: #0b2138;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}
