.button {
  background-color: #ff4163;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px;
  border: none;
  border-bottom: 4px solid #dd2345;
  outline: none;
  span {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}
