.secure-bar {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  z-index: 10;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  @media screen and (max-width: 768px) {
    bottom: 104px;
  }
  &.veryWeak {
    background-color: #d63031;
    width: 17.2%;
  }
  &.weak {
    background-color: #d63031;
    width: 34.4%;
  }
  &.medium {
    background-color: #f39c12;
    width: 51.6%;
  }

  &.strong {
    background-color: #2ecc71;
    width: 68.8%;
  }

  &.veryStrong {
    background-color: #2ecc71;
    width: 86%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.secure-bar-background {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  width: 86%;
  z-index: 1;

  &.veryWeak,
  &.weak {
    background-color: #e99990;
  }

  &.medium {
    background-color: #f3e1c7;
  }

  &.strong,
  &.veryStrong {
    background-color: #c2e4d0;
  }

  @media screen and (max-width: 768px) {
    bottom: 104px;
    width: 100%;
  }
}
