input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 100%;
  height: 10px;
  cursor: pointer;
  display: block;
  z-index: 2;
  position: relative;
  background-color: transparent;
}
input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  color: transparent;
  padding: 11px 0;
  background: transparent;
  border-color: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
}
input[type='range']::-ms-fill-lower {
  background: #ff4163;
}
.rangeslider-fill-lower {
  background-color: #ff4163;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  will-change: width;
}

//Thumbs

input[type='range']::-webkit-slider-thumb {
  border: 9px solid rgb(238, 238, 238);
  height: 34px;
  width: 34px;
  border-radius: 100px;
  background: #ff4163;

  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transform: translate(-2%, 14%);
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: 6px solid rgb(238, 238, 238);
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #ff4163;
  cursor: pointer;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: 6px solid rgb(238, 238, 238);
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #ff4163;
  cursor: pointer;
}
