.slider-p {
  font-size: 18px;

  span {
    color: #333;
    font-weight: 600;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sync-container {
  position: absolute;
  right: 130px;
  top: 20px;
  color: #ccc;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.checkboxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slider-container {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  width: 70%;
}

.slider-container-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .slider-container-section {
    flex-direction: column;
    margin-top: 0;
  }

  .slider-container {
    width: 100%;
  }

  .slider-p {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  .sync-container {
    right: 15px;
    top: 14px;
    -webkit-tap-highlight-color: transparent;
  }

  .lock-icon {
    top: 11px;
  }
}
