.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .title-container {
    h1 {
      font-size: 30px;
    }
    p {
      text-align: center;
    }
  }
}
