//General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: #0b2138;
}

.container {
  display: flex;
  height: 100vh;
}

.side {
  background-color: #ff4163;
  width: 30%;
}

.main-contain {
  width: 800px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-right: auto;

  h1 {
    font-size: 42px;
  }

  p {
    color: #5c5c5c;
  }
}

.input-container {
  display: flex;
}

//Mobile styles
@media screen and (max-width: 768px) {
  .side {
    display: none;
  }
  .main-contain {
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
