//General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: #0b2138;
}

.container {
  display: flex;
  height: 100vh;
}

.side {
  background-color: #ff4163;

  width: 30%;
}

.main-contain {
  width: 800px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-right: auto;

  p {
    color: #5c5c5c;
  }
}

.input-container {
  display: flex;
}
