@use './components/Layout/Layout';
@use './components/Input/Input';
@use './components/CopyButton/CopyButton';
@use './components/Checkbox/Checkbox';
@use './components/SecureBar/SecureBar';
@use './components/Range-Slider/Range-Slider';
@use './components/Title/Title';
@use './components/Header/Header';
@use './components/RefreshButton/RefreshButton';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.lock-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

.sync-container {
  position: absolute;
  right: 130px;
  top: 20px;
  color: #ccc;
  cursor: pointer;
}

.sync-animation {
  animation: spin infinite 0.4s linear;
}

.slider-p {
  font-size: 18px;

  span {
    color: #333;
    font-weight: 600;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.checkboxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mega-container {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  width: 70%;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .slider-container {
    flex-direction: column;
    margin-top: 0;
  }

  .mega-container {
    width: 100%;
  }

  .slider-p {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  .sync-container {
    right: 15px;
    top: 14px;
    -webkit-tap-highlight-color: transparent;
  }

  .lock-icon {
    top: 11px;
  }
}
