@use './components/Layout/Layout';
@use './components/Input/Input';
@use './components/Button/Button';
@use './components/Checkbox/Checkbox';
@use './components/SecureBar/SecureBar';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.lock-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

.sync-container {
  position: absolute;
  right: 130px;
  top: 20px;
  color: #cccccc;
  cursor: pointer;
}

.sync-animation {
  animation: spin infinite 0.4s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider-container {
  display: flex;
}

.checkboxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

///New checkbox
