@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #0b2138;
}

.container {
  display: flex;
  height: 100vh;
}

.side {
  background-color: #ff4163;
  width: 30%;
}

.main-contain {
  width: 800px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-right: auto;
}
.main-contain p {
  color: #5c5c5c;
}

.input-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .side {
    display: none;
  }

  .main-contain {
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.input-container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.input-container input {
  width: 100%;
  border: 1px solid #e1e4e8;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  padding: 12px 12px 20px 48px;
  font-size: 2rem;
  color: #0b2138;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.button {
  background-color: #ff4163;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px;
  border: none;
  border-bottom: 4px solid #dd2345;
  outline: none;
}
.button span {
  margin-left: 10px;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  background-color: #fc4c6c;
  outline: none;
  position: relative;
  border-bottom: 0px;
}

.label-input-checkbox {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.label-input-checkbox span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.label-input-checkbox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.label-input-checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.label-input-checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.label-input-checkbox:hover span:first-child {
  border-color: #ff4163;
}

.input-checkbox {
  position: absolute;
  visibility: hidden;
}

.input-checkbox:checked + .label-input-checkbox span:first-child {
  background: #ff4163;
  border-color: #ff4163;
  animation: wave 0.4s ease;
}

.input-checkbox:checked + .label-input-checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.secure-bar {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  z-index: 10;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.very-weak-password,
.weak-password {
  background-color: #e74c3c;
}

.medium-password {
  background-color: #f39c12;
  width: 51.6%;
}

.strong-password,
.very-strong-password {
  background-color: #2ecc71;
}

.very-weak-password {
  width: 17.2%;
}

.weak-password {
  width: 34.4%;
}

.strong-password {
  width: 68.8%;
}

.very-strong-password {
  width: 86%;
}

.secure-bar-background {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  width: 86%;
  z-index: 1;
}

.very-weak-password-background,
.weak-password-background {
  background-color: #e99990;
}

.medium-password-background {
  background-color: #f3e1c7;
}

.strong-password-background,
.very-strong-password-background {
  background-color: #c2e4d0;
}

.lock-icon {
  position: absolute;
  top: 15px;
  left: 10px;
}

.sync-container {
  position: absolute;
  right: 130px;
  top: 20px;
  color: #cccccc;
  cursor: pointer;
}

.sync-animation {
  animation: spin infinite 0.4s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slider-container {
  display: flex;
}

.checkboxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*# sourceMappingURL=App.css.map */
